li {
    list-style-type: none;
}

.flex-box {
    display: flex;
    flex-direction: row;
    padding: 25px;
    width: 80%;
    font-family: 'Segoe UI', 'Roboto', Serif;
}
.cafe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.ready-container, .pending-container {
    width: 40%;
    background-color: #455A64;
}
.afro-caleb {
    height: 341px;
    width: 322px;
    margin-bottom:40px;
}
.timer-container {
    height: 50px;
    width: 500px;
}
.title {
    margin-bottom:15px;
    margin-top:15px;
}
.welcome {
    margin-bottom: 0;
    font-family: 'Shadows Into Light', cursive;
}
.petrol {
    margin-top: 0;
    font-family: 'Shadows Into Light', cursive;
}

.cafe-order {
    width: 97%;
    padding: 5px;
}

.order-item {
    background-color: #546E7A;
}
.order-name {
    background-color: #607D8B;
    color: #E0E0E0;
}
.pending-container {
    color: #FF5252;
}
.ready-container{
    color: #00E676;
}

